APP_NAME=ProcessNet
APP_ENV=local
APP_KEY=base64:rE/pHImyZn4S4n9hKB2eF3IXf1Y+Rc8IoY2MhY4hDck=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost


BROADCAST_DRIVER=log
CACHE_DRIVER=file
CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=tinodigitalpro.com
MAIL_PORT=465
MAIL_USERNAME=no-reply.processnet@tinodigitalpro.com
MAIL_PASSWORD="q66?Fcc18"
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="no-reply.processnet@tinodigitalpro.com"
MAIL_FROM_NAME="${APP_NAME}"

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

FRONTEND_APP_URL=http://127.0.0.1:8000